.banner{
	position: relative;
	img{
		width:100%;
		height: auto;
		}
}
.box1{
	.leftcontact{
		
	
		img{
			width: 702px;
			height: 303px;
			margin-top: 45px 30px ;
	
		}
	}
}
.leftdbx1{
	position: relative;

}