.live_wrap{
	position: relative;
	.banner{
		height: 850px;
		overflow-y: hidden;
		position: relative;
		.banner_msg{
			p{
				height: 60px;
				line-height: 70px;
				font-size: 60px;
				color: #FFF;
			}
			position: absolute;
			top: 150px;
			left: 182px;
		}
		.banner-img img{
			height: 100%;
			width: 100%;
		}
	}
	.live_content{
		border: 1px solid yellow;
		.live_content_item{
			text-align: center;
			.theme{
				text-align: center;
				margin-top: 50px;
				margin-bottom: 30px;
				p{
					font-size: 45px;
					line-height: 55px;
				}
				.title_english{
					color: #281D3B;
					padding-top: 30px;
				}
				.title_chinese{
					display: inline-block;
					color: #281E3B;
					border-bottom: 20px solid #EDCD20;
				}
			}
			.bg1{
				background-image: url("/static/image/live/background/1.png");
			}
			.content{
				width: 100%;
				padding:0 11.25%;
				font-size: 24px;
				line-height: 50px;
				color: #39304A;
				text-align: center;
			}
			
			//公司环境
			.company_img_box{
				margin: 0 14%;
				display: flex;
				flex-shrink:1;
				img{
					width: 100%;
					height: aoto;
				}
			}
			
			// 娱乐消遣
			.happy_banner{
				margin: auto;
				width: 1100px;
			}
			
			
			//生活环境
			.living_img_box{
				margin: 0 14%;
				margin-top: 20px;
				display: flex;
				flex-shrink:1;
				img{
					width: 100%;
					height: aoto;
				}
			}
			.activity_img_box{
				margin: 0 4%;
				margin-top: 20px;
				display: flex;
				flex-shrink:1;
				img{
					width: 100%;
					height: aoto;
				}
			}
			
			.food_img_box{
				margin: 0 auto;
				overflow: hidden;
				ul{
					display: inline-block;
					display: flex;
					flex-direction: row;
					// overflow-x: auto;
					li{
						display: inline-block;
						margin: 0 5px;
					}
				}
				margin-top: 20px;
				width: 1500px;
				height: 300px;
				img{
					width: 420px;
					height: 300px;
					display: inline
				}
			}
		}
		
		//社会公益
		.chairty_content_item{
			display: flex;
			flex-direction: row;
			margin-top: 80px;
			.left{
				margin-left: 11%;
				.theme{
					text-align: center;
					margin-top: 50px;
					margin-bottom: 30px;
					p{
						font-size: 45px;
						line-height: 55px;
					}
					.title_english{
						color: #281D3B;
						padding-top: 30px;
					}
					.title_chinese{
						display: inline-block;
						color: #281E3B;
						border-bottom: 20px solid #EDCD20;
					}
				}
				.content{
					width: 100%;
					padding:0 11.25%;
					font-size: 24px;
					line-height: 50px;
					color: #39304A;
					text-align: center;
				}
			}
		}
	}
	
}
@keyframes mymove{
	 0%{left:0px;}
	 100%{left:-6900px;}
	
}

.food_ul{
	animation:mymove 60s infinite Linear ;
	position: relative;
}