.live_wrap{
	position: relative;
	.banner{
		width: 1920px;
		height: 1080px;
		position: relative;
		.banner_msg{
			p{
				height: 60px;
				line-height: 70px;
				font-size: 60px;
				color: #FFF;
			}
			position: absolute;
			top: 150px;
			left: 182px;
			
		}
	}
	.live_content{
		border: 1px solid yellow;
		.live_content_item{
			text-align: center;
			.theme{
				text-align: center;
				margin-top: 50px;
				margin-bottom: 30px;
				p{
					font-size: 45px;
					line-height: 55px;
				}
				.title_english{
					color: #281D3B;
					padding-top: 30px;
				}
				.title_chinese{
					display: inline-block;
					color: #281E3B;
					border-bottom: 20px solid #EDCD20;
				}
			}
			.bg1{
				background-image: url('/static/image/live/background/1.png');
			}
			.content{
				margin:0 auto;
				font-size: 24px;
				line-height: 50px;
				color: #39304A;
				width: 1500px;
				text-align: center;
			}
			
			.company_img_box{
				width: 1400px;
				margin:0 auto;
				display: flex;
				flex-direction: row;
				img{
					margin-left: 10px;
				}
			}
			.live_img_box{
				.img_line2{
					width: ;
				}
			}
			
		}
		
	
		
	}
	
}


